@model GabyCarpenter.Models.Carpentry.ItemModel

@{
    ViewData["Title"] = "Edit";
}

@section header
{
    <h1>Edit</h1>
}
<section>
    <form asp-action="Edit" enctype="multipart/form-data">
        <div class="form-horizontal">
            <h4>Edit Item</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Height" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Height" class="form-control" />
                    <span asp-validation-for="Height" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Width" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Width" class="form-control" />
                    <span asp-validation-for="Width" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Depth" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Depth" class="form-control" />
                    <span asp-validation-for="Depth" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="amountInStock" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="amountInStock" class="form-control" />
                    <span asp-validation-for="amountInStock" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="tags" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="tags" class="form-control" data-role="tagsinput" />
                    <span asp-validation-for="tags" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="supplier" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="supplier" class="form-control" asp-items="ViewBag.suppliers" ></select>
                    <span asp-validation-for="Image" class="text-danger" />
                    <script>
                        $('#supplier option[value="@Model.supplier.Id"]')[0].selected=true
                    </script>
                </div>
            </div>
            <div class="form-group">

                <label asp-for="Image" class="col-md-2 control-label"></label>

                @foreach (var image in Model.Image)
            {
                    <div class="editImage" id="div_image_@image.FileId">
                        <img src="~/SavedImages?id=@image.FileId" atl="picture" class="img-responsive" />
                        <a onclick="$('#imageToDele').val($('#imageToDele').val()+ @image.FileId + ',');$('#div_image_@image.FileId').hide()"><img src="~/images/deleteIcon.png" id="delete_@image.FileId" class="deleteButton" /></a>
                    </div>
                }
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Add Images</label>
                <div class="col-md-10">
                    <input type="file" asp-for="Image" class="form-control" accept="image/*" multiple />
                    <span asp-validation-for="Image" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <input type="hidden" id="imageToDele" name="imageToDele" />
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
