@{
    ViewData["Title"] = "About";
}
@section header {
    <h1>@ViewData["Title"].</h1>
    }
<h2>@ViewData["Message"]</h2>
<section>
    <div class="aboutCol">
       
        Welcome to Gaby Carpentery, we are a small family carpenery baseed on the moundny of the old Binyamin Teritory, in the picture like setelment called Na'ale, we are building copletion furniture, in a Shaby chic style, perfect for your home deco apprtment or coutry side hose, for buiness we create special things that are both funcional and good looking. if you dream it we will buid it, lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
    </div>
</section>
