@model GabyCarpenter.Models.Carpentry.viewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section header{
    <h1>This is the header</h1>
}

   
    <section>
        <h1>
         in section1</h1>
        content in section
        <p>peragraph in section</p>
    </section>
    <section>
        <h1>
            in section2
        </h1>
        content in section
        <p>peragraph in section</p>
    </section>
    @section aside
    {
        <section>section in asside</section>
            this is aside
        
    }


