@model GabyCarpenter.Models.Carpentry.viewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@section header{
    <h1>Gaby Carpentiry - Beatufull furniture</h1>
}

   
<section>
    <div id="intro">
        <h2> Welcome to Gaby carpentry shop</h2>
        <p>In Gaby carpentry we provide the most beautifull ferniture for your Shaby Chic home</p>
        <p>All our products are build or restored by hand, by out telented carpenter Gabriela</p>
    </div>
</section>

<section>
    <h2>Plase select an Item to order</h2>
    <div class="row">
        <form id="searchForm" asp-action="Search" class="form-inline">
            <div id="filters">
                <div class="form-group col-xs-3">
                    <label asp-for="tags" class="control-label"></label>
                    <select asp-for="tags" class="selectpicker" asp-items="@(new SelectList(Model.tags))" ></select>
                    @*<span asp-validation-for="tags" class="text-danger" />*@
                </div>
                <div class="form-group col-xs-3">
                    <label asp-for="colors" class="control-label"></label>
                    <select asp-for="colors" class="selectpicker" asp-items="@(new SelectList(Model.colors))" data-width="200px" ></select>
                    @*<span asp-validation-for="colors" class="text-danger" />*@
                </div>
                <div class="form-group col-xs-3">
                    <label asp-for="inStock" class="control-label"></label>
                    <select asp-for="inStock" class="selectpicker" asp-items="@(new SelectList(Model.inStock))" data-width="200px" ></select>
                    @*<span asp-validation-for="inStock" class="text-danger" />*@
                </div>
                <div class="row">
                    <button type="button" class="btn btn-info" id="clearFilter">clearFilter</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section>
    <h2>Items matching your criteria</h2>
    <div class="row">
        @foreach (var item in Model.filteredtems)
        {
            <div class="col-xs-4" id="item_@item.Id">
                @{await Html.RenderPartialAsync("FilteredItemView", item);}
                <p>@Html.ActionLink("Order This", "create", "Orders", new { id = item.Id }, null)</p>
            </div>
        }
    </div>
</section>
    
@section aside
    {
        <section>section in asside</section>
            this is aside
        
    }


